<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clarissa - sistema de IoT para monitoramento e cuidado de plantas caseiras</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/minhas_plantas.css">
    <link rel="stylesheet" href="/static/signup.css">
</head>
<body>
    <div id="navbar">
        <div id="nav">
            <h1>Clarissa</h1>
        </div>
        <div id="left_bar">

            <p>
                <a href="/accounts/login" >Login</a>
            </p>

            <p>
                <a href="/accounts/signup" class="page">Criar conta</a>
            </p>
            
        </div>
        <div id="bottom_left"></div>
        
    </div>

    <div id="container" class="box" >
        <div id="small_table1">

            <h1>Criar novo usuário</h1>
            <form id="form" class="site-form" method="POST" action="/accounts/signup/">
                {% csrf_token %}
                {{form}}
                <p>
                    <input type="submit" value="Cadastrar">
                </p>
                
            </form>
        </div>

    </div>
    


   
</body>
</html>

