#form{
    margin-top: 1rem;
    margin-left: 10rem;
}

#id_regada{
    height: 3rem;
    font-weight: bold;
    border-radius: 0.5rem;
}

#btn_submit{
    height: 3rem;
    font-weight: bold;
    border-radius: 0.4rem;
    width: 5rem;
    cursor: pointer;
    background-color: #23f0c7;
    
}
#btn_submit:hover{
    color: white;
}