.site-form{
    margin-top: auto;
    margin-bottom: auto;
    font-size:1rem;
    font-weight: bold;
}

#small_table{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-self: center;
    float: left;
    text-align: center;
    border-radius: 5px;
    height: 40vh;
    width: 50vw;
    background-color: white;
    box-shadow: 0.5rem 0.5rem 0.5rem black;
    
}

.submit_btn{
    font-weight: bold;
    border-radius: 1rem;
    font-size: 2rem;
    color: white;
    background-color: red;
    height: 10vh;
    width: 10vw;
    margin-top: 5vh;
    cursor: pointer;
    
}
