
.site-form{
    margin-top: 2rem;
    margin-bottom: auto;
    font-size: 1rem;
    font-weight: bold;

}

#small_table{
    float: left;
    border-radius: 5px;
    height: 50vh;
    width: 50vw;
    background-color: white;
    box-shadow: 0.5rem 0.5rem 0.5rem black;
    
}

#small_table h1{
    width: fit-content;
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
}

form{
    margin-left: 2rem;
}

