*{
    margin: 0;
    padding: 0;
    font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
}

#navbar{
    float: left;
}

#nav{

    border-right: 0.5vw solid black;
    border-bottom: 1vh solid black;
    background-color: #c8bfe7;
    text-align: center;
    width: 30vw;
    height: 15vh;
}


#nav h1{
    align-self: center;
    font-size: 5vw;

}

#left_bar{
    width: 30vw;
    height: 65vh;
    background-color: #7092be;
    border-right: 0.5vw solid black;
}

#left_bar a{
    
    font-size: 2.5vw;
    text-decoration: none;
    color: black;
    padding-left: 1vw;

}
#left_bar a:hover{
    color: white;
}

#bottom_left{
    height: 40vh;
    border-right: 0.5vw solid black;
    background-color: #a349a4;
    width: 30vw;
}

#container{
    float: right;
    background-color: #22b14c;
    height: 121vh;
    width: 68vw;
}

#square{ 
    box-shadow:0.2rem 0.2rem 0.2rem black;
    margin-top: 5vh;
    margin-left: 10vw;
    background-color: white;

    width: 20vw;
    height: 18vh;
    border-radius: 1vw;
    text-align: center;

}

#square h2{
    padding-top: 2vh;
}

#img{
    float: right;
    height: 40vh;
    width: 20vw;
    margin-right: 10vw;
}

#square_special{
    box-shadow:0.2rem 0.2rem 0.2rem black;
    float: right;
    text-align: center;
    margin-top: 5vh;
    margin-right: 10vw;
    background-color: white;
    width: 20vw;
    height: 40vh;
    border-radius: 1vw;

}

#square_special h2{
    padding-top: 2vh;
}

#square_special h3{
    padding-top: 10vh;
}

#agp{
    padding-top: 10vh;
}

#Idade{
    padding-top: 1vh;
}

.page{

    background-color: #ADF6B1;
    background-color: #23f0c7;
    border-radius: 0.4rem;
    padding-right: 1vw;

}


#delete{ 
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 5vh;
    margin-left: 23vw;
    width: 20vw;
    height: 10vh;
    text-decoration: none;
    background-color: red;
    
    border-radius: 1rem;
    box-shadow:0.2rem 0.2rem 0.2rem black;
}

#delete a{
    color: white;
    font-size: 2rem;
    text-decoration: none;
}
