<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clarissa - sistema de IoT para monitoramento e cuidado de plantas caseiras</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/banco_de_dados.css">
</head>
<body>
    <div id="navbar">
        <div id="nav">
            <h1>Clarissa</h1>
        </div>
        <div id="left_bar">
            <a href="/nova_planta">Cadastrar nova planta </a>
            <p>
                <a href="/minhas_plantas" >Minhas plantas </a>
            </p>
            
            <p>
                <a href="/banco_de_dados" class="page">Banco de dados </a>
            </p>

            <p>
                <a href="/informacoes">Informações do sistema</a>
            </p>
            
            <p>
                <a href="/accounts/logout">Sair</a>
            </p>
            
            
        </div>
        <div id="bottom_left"></div>
        
    </div>

    <div id="container" class="box">
        <div id="small_table1">
            <table id="plantas">

                <tr>
                    <th>Nome comum</th>
                    <th>Espécie</th>
                    <th>Temperatura ideal</th>
                    <th>Horas de sol por dia</th>
                    <th>Regar a cada</th>
                    <th>Observações</th>
                </tr>

                    {% for item in bd %}
                    <tr>    
                        <td> {{item.nome_comum}} </td>
                        <td>{{item.nome_especie}}</td>
                        <td>{{item.temperatura}} °C</td>
                        <td>{{item.sol_horas}} hora</td>
                        <td>{{item.rega_dias}} dias</td>
                        <td>{{item.obs}}</td>
                    </tr>

                    {% endfor %}
                
            </table>

        </div>
    </div>
    
</body>
</html>