<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clarissa - sistema de IoT para monitoramento e cuidado de plantas caseiras</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="navbar">
        <div id="nav">
            <h1>Clarissa</h1>
        </div>
        <div id="left_bar">
            <a href="/nova_planta">Cadastrar nova planta </a>
            <p>
                <a href="/minhas_plantas" class="page">Minhas plantas </a>
            </p>
            
            <p>
                <a href="/banco_de_dados">Banco de dados </a>
            </p>

            <p>
                <a href="/informacoes">Informações do sistema</a>
            </p>

            <p>
                <a href="/accounts/logout">Sair</a>
            </p>
            
            
            
            
        </div>
        <div id="bottom_left"></div>
        
    </div>

    <div id="container">
        <div id="infos">
            <img src="planta.png" alt="" id="img">
            <section id="square">
                <h2>Incidência Solar</h2>
                <h2 id="IncidenciaSolar">Sem dados</h2>
                <h3 id="atualizado"></h3>
            </section>

            <section id="square">
                <h2>Temperatura: </h2>
                <h2 id="Temperatura">Sem dados</h2>
                <h3 id="atualizado"></h3>
            </section>

            <section id="square_special">
                <h2 id="nome">Nome</h2>
                <h3 id="especie">Espécie: Sem dados</h3>
                <h4 id="agp">Idade da planta:</h4>
                <h4 id="idade">Sem dados</h4>
            </section>
            <section id="square">
                <h2>Umidade: </h2>
                <h2 id="Umidade">Sem dados</h2>
                <h3 id="atualizado"></h3>
            </section>

            <section id="square">
                <h2>Precisa ser regada?</h2>
                <h2 id="Regada">Sem dados</h2>
                <h3 id="atualizado"></h3>
            </section>

            <section id='delete'>
                <a href="/minhas_plantas" onclick="Delete()">Deletar</a>
            </section>
            
        </div>
        

    </div>
    

</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/static/dados_planta.js"></script>


</html>