<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Clarissa - sistema de IoT para monitoramento e cuidado de plantas caseiras</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/dados_planta.css">
</head>
<body onload='reload()'>
    <div id="navbar">
        <div id="nav">
            <h1>Clarissa</h1>
        </div>
        <div id="left_bar">
            <a href="/nova_planta">Cadastrar nova planta </a>
            <p>
                <a href="/minhas_plantas" class="page">Minhas plantas </a>
            </p>
            
            <p>
                <a href="/banco_de_dados">Banco de dados </a>
            </p>

            <p>
                <a href="/informacoes">Informações do sistema</a>
            </p>

            <p>
                <a href="/accounts/logout">Sair</a>
            </p>
            

            
            
        </div>
        <div id="bottom_left"></div>
        
    </div>

    <div id="container">

        {% for plant in planta %}

            
        {% for item in bd %}
       
        <div id="infos">
            <img src="/uploads/{{plant.image}}" alt="" id="img">
            <section id="square">
                <h2>Incidência Solar</h2>
                <h2 id="IncidenciaSolar">{{plant.incidencia_solar}}</h2>

                <h3>Ideal: {{item.sol_horas}} horas/dia</h3>
                <h3 id="atualizado"></h3>
            </section>

            <section id="square">
                <h2>Temperatura: </h2>
                <h2 id="Temperatura">{{plant.temperatura}}</h2>
                <h3>Ideal: {{item.temperatura}} °C</h3>
                <h3 id="atualizado"></h3>
            </section>

            <section id="square_special">
                <h2 id="nome">{{plant.name}}</h2>
                <h3 id="especie">Espécie: {{plant.species}}</h3>
                <h4 id="agp">Criada em: </h4>
                <h4 id="idade">{{plant.date}}</h4>
            </section>
            <section id="square">
                <h2>Umidade: </h2>
                <h2 id="Umidade">{{plant.umidade}}</h2>
                <h3 id="atualizado"></h3>
            </section>

            <section id="square">
                <h2>Regada em:</h2>
                <h3 id="Regada">{{plant.regada}}</h3>

                <h3 style="padding-top: 1rem;">Regar a cada {{item.rega_dias}} dias</h3>
                <h3></h3>
                <h3 id="atualizado"></h3>
            </section>

            {% endfor %}
            {% endfor %}

            <form id='form' class="site-form" action="/dados_planta/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="date" name="regada" value="" required='' id="id_regada">
                <button type="submit" id="btn_submit">Regar</button>
            </form>

            <section id='delete'>
                <a href="/deletar" >Deletar</a>
            </section>
            
        </div>
        

    </div>
    

</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/static/dados_planta.js"></script>


</html>