<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clarissa - sistema de IoT para monitoramento e cuidado de plantas caseiras</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/informacoes.css">
</head>
<body>
    <div id="navbar">
        <div id="nav">
            <h1>Clarissa</h1>
        </div>
        <div id="left_bar">
            <a href="/nova_planta">Cadastrar nova planta </a>
            <p>
                <a href="/minhas_plantas" >Minhas plantas </a>
            </p>
            
            <p>
                <a href="/banco_de_dados" >Banco de dados </a>
            </p>

            <p>
                <a href="/informacoes" class="page">Informações do sistema</a>
            </p>

            <p>
                <a href="/accounts/logout">Sair</a>
            </p>
            
            
            
        </div>
        <div id="bottom_left"></div>
        
    </div>

    <div id="container">
        <div id="infos">
            <h1>Clarissa</h1>
            <p>
                <h3 style="padding-top: 1rem;">Versão: 1.0</h3>
                <h3 style="padding-top: 1rem;">Agradecimentos</h3>
                <h3 style="padding-top: 15rem">Todos os direitos reservados</h3>
            </p>
        </div>
    </div>
    
</body>
</html>