<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clarissa - sistema de IoT para monitoramento e cuidado de plantas caseiras</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/minhas_plantas.css">
</head>
<body>
    <div id="navbar">
        <div id="nav">
            <h1>Clarissa</h1>
        </div>
        <div id="left_bar">
            <a href="/nova_planta">Cadastrar nova planta </a>
            <p>
                <a href="/minhas_plantas" class="page">Minhas plantas </a>
            </p>
            
            <p>
                <a href="/banco_de_dados">Banco de dados </a>
            </p>

            <p>
                <a href="/informacoes">Informações do sistema</a>
            </p>

            <p>
                <a href="/accounts/logout">Sair</a>
            </p>
            
            <p style="display: none;" id="user_id">
                {{form}}
            </p>
            
            
        </div>
        <div id="bottom_left"></div>
        
    </div>
    
    <div id="container" class="box">
        <div id='square_table'>
            <table id="plantas">

                <tr>
                    <th>Nome</th>
                    <th>Espécie</th>
                    <th>Data de plantio</th>
                    <th>Link</th>
                </tr>

                    {% for planta in plantas %}
                    <tr>    
                        <td> {{planta.name}} </td>
                        <td>{{planta.species}}</td>
                        <td>{{planta.date}}</td>
                        <td><a href="/dados_planta" onclick=' dadosPage("{{planta.name}}")'>Ir</a></td>
                    </tr>

                    {% endfor %}
                
            </table>
        </div>
        <a id="apagar_tudo" onclick="" href="/apagar">Apagar todas as plantas</a>
    



    </div>
    


    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/static/minhas_plantas.js"></script>
   
</body>
</html>

